<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends</title>
</head>
<body>
<h1>Список друзів</h1>

<!-- Повідомлення -->
<div>
  <p th:if="${message}" th:text="${message}" class="alert alert-success"></p>
  <p th:if="${error}" th:text="${error}" class="alert alert-danger"></p>
</div>

<!-- Список друзів -->
<ul>
  <li th:each="friend : ${friends}">
    <span th:text="${friend.friend.username}">Friend Name</span>
  </li>
</ul>

</body>
</html>
