<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${news.title}">Новина</title>
</head>
<body>
<h1 th:text="${news.title}"></h1>
<p th:text="${news.content}"></p>
<p>Автор: <span th:text="${news.author.username}"></span></p>
<p>Опубліковано: <span th:text="${#temporals.format(news.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></span></p>
<!--//TODO ДОРОБИТИ ЧАС-->

<hr>

<!-- Коментарі -->
<h2>Коментарі</h2>
<div th:each="comment : ${comments}">
    <p><strong th:text="${comment.person.username}"></strong>: <span th:text="${comment.text}"></span></p>
</div>

<!-- Форма для додавання коментаря -->
<div th:if="${#authentication.principal}">
    <form th:action="@{/news/{id}/comments/add(id=${news.id})}" method="post">
        <textarea name="content" placeholder="Ваш коментар" required></textarea>
        <button type="submit">Додати</button>
    </form>
</div>
</body>
</html>
