<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Зараз читають</title>
  <style>
    .comic-card {
      margin-right: 15px;
      flex-shrink: 0;
    }
    .comic-card .comic-cover {
      height: 200px;
      object-fit: cover;
    }
  </style>
</head>
<body>
<div class="container my-5">
    <h3 class="text-center">Секції коміксів</h3>
    <div class="my-3">
        <label for="sectionSelect" class="form-label">Виберіть секцію:</label>
        <select id="sectionSelect" class="form-select" onchange="navigateToSection()">
            <option th:selected="${section == 'current'}" value="current">Читають</option>
            <option th:selected="${section == 'popular'}" value="popular">Популярні</option>
            <option th:selected="${section == 'new'}" value="new">Новостворені</option>
        </select>

        <label for="daysSelect" class="form-label mt-2">Виберіть період:</label>
        <select id="daysSelect" class="form-select" onchange="navigateToSection()">
            <option value="1" th:selected="${selectedDays == 1}">За добу</option>
            <option value="7" th:selected="${selectedDays == 7}">За тиждень</option>
            <option value="31" th:selected="${selectedDays == 31}">За місяць</option>
            <option value="365" th:selected="${selectedDays == 365}">За рік</option>
        </select>
    </div>


    <div class="row">
        <div th:each="comic : ${comics}" class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card bg-secondary text-light">
                <img th:src="@{/comics/image/{id}(id=${comic.id})}" alt="Comic Cover" class="card-img-top">
                <div class="card-body">
                    <h6 th:text="${comic.title}" class="card-title"></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function navigateToSection() {
        const section = document.getElementById('sectionSelect').value;
        const days = document.getElementById('daysSelect').value;

        const validSections = ['current', 'popular', 'new'];
        const validSection = validSections.includes(section) ? section : 'current';

        // Перенаправлення з врахуванням вибраних параметрів
        window.location.href = `/comics/sections?section=${validSection}&days=${days}`;
    }

</script>
</body>
</html>
