<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зараз читають</title>
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/currently-reading-style.css}">
    <link rel="stylesheet" href="/css/main.css">
    <th:block th:replace="~{fragments/header :: head-styles}"></th:block>
</head>
<body>
<header>
    <!-- Include top navbar fragment -->
    <th:block th:replace="~{fragments/header :: top-navbar}"></th:block>

    <!-- Include search modal fragment -->
    <th:block th:replace="~{fragments/header :: search-modal}"></th:block>
</header>
<th:block th:replace="~{fragments/header :: bottom-navbar}"></th:block>
<main>
    <div class="comics-section">
        <div class="container-com">
            <div class="comics-header">
                <h3>Зараз читають</h3>
                <div class="filters">
                    <select id="sectionSelect" class="comics-select" onchange="navigateToSection()">
                        <option th:selected="${section == 'current'}" value="current">Читають</option>
                        <option th:selected="${section == 'popular'}" value="popular">Популярні</option>
                        <option th:selected="${section == 'new'}" value="new">Новостворені</option>
                    </select>
                    <select id="daysSelect" class="comics-select" onchange="navigateToSection()">
                        <option value="1" th:selected="${selectedDays == 1}">За добу</option>
                        <option value="7" th:selected="${selectedDays == 7}">За тиждень</option>
                        <option value="31" th:selected="${selectedDays == 31}">За місяць</option>
                        <option value="365" th:selected="${selectedDays == 365}">За рік</option>
                    </select>
                </div>
            </div>
            <div class="comics-grid">
                <div th:each="comic : ${comics}" class="comic-col">
                    <div class="comics-card">
                        <div class="comic-image-container">
                        <img th:src="@{/comics/image/{id}(id=${comic.id})}" class="card-img-top" alt="Comic Cover">
                            <div class="comics-rating" >4.5</div>
                            <div class="comics-views">
                                <svg class="svg-inline--fa fa-eye fa-sm" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path class="" fill="currentColor" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>                        <div th:text="${comic.viewCount}" >132</div>
                            </div>
                        </div>
                        <div class="comics-info">
                            <h6 th:text="${comic.title}" class="card-title"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function navigateToSection() {
        const section = document.getElementById('sectionSelect').value;
        const days = document.getElementById('daysSelect').value;

        const validSections = ['current', 'popular', 'new'];
        const validSection = validSections.includes(section) ? section : 'current';

        // Перенаправлення з врахуванням вибраних параметрів
        window.location.href = `/comics/sections?section=${validSection}&days=${days}`;
    }
</script>
<div th:insert="~{fragments/header :: page-scripts}"></div>
</body>
</html>
