<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="comicSectionFragment(title, comics)" class="col-md-4">
  <h5 class="mb-3" th:text="${title}"></h5>
  <div>
    <div class="mb-3" th:each="comic : ${comics}">
      <div class="d-flex align-items-center">
        <img th:src="@{/comics/image/{id}(id=${comic.id})}"
             th:alt="${comic.title}"
             class="img-fluid rounded me-3 object-fit-cover"
             width="60"
             height="90"
             loading="lazy">
        <div>
          <h6 class="mb-1" th:text="${comic.title}"></h6>
          <p class="mb-0 small">Манга</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>