body {
    margin: 0;
    background-color: #0A0A0A !important;
    color: #BFBFBF;
    line-height: 1.4 !important;
    font-family: -apple-system, BlinkMacSystemFont, Open Sans, Roboto, Helvetica Neue, Helvetica, sans-serif !important;
}
.container {
    width: 900px!important;
    margin: 0 auto!important;
    background-color: #1c1c1c!important;
    padding: 20px 40px!important;
}

h1 {
    margin: 0 0 20px!important;
}

form {
    display: flex!important;
    flex-direction: column!important;
    gap: 15px!important;
}

label {
    font-size: 14px !important;
    font-weight: 600;
}

input[type="text"],
textarea,
select {
    padding: 10px !important;
    border: 1px solid rgba(80, 80, 80, .5) !important;
    border-radius: 5px!important;
    background-color: #2C2C2E!important;
    color: #BFBFBF!important;
    font-family: inherit !important;
    font-size: 16px !important;
}

textarea {
    min-height: 200px!important;
    resize: vertical!important;
}
.bt_fr {
    background-color: #ef6c00;
    color: black !important;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s, transform 0.2s;
    width: auto !important;
}

.bt_fr:hover {
    background-color: #ff7d00;
    transform: scale(1.05);
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.main_cl{
    display: flex!important;
    flex-direction: column!important;
    width: 900px!important;
    margin: 20px auto;
    background-color: #1c1c1c;
    padding: 30px 20px;
    border-radius: 5px;
}
