body {
    margin: 0;
    background-color: #0A0A0A !important;
    color: #BFBFBF;
    line-height: 1.4 !important;
    font-family: -apple-system, BlinkMacSystemFont, Open Sans, Roboto, Helvetica Neue, Helvetica, sans-serif !important;
}
.container {
    width: 900px;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 20px 40px;
}

h1 {
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
}

input[type="text"],
textarea,
select {
    padding: 10px;
    border: 1px solid rgba(80, 80, 80, .5);
    border-radius: 5px;
    background-color: #2C2C2E;
    color: #BFBFBF;
    font-family: inherit;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

button {
    background-color: #ef6c00;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff7d00;
    transform: scale(1.05);
}
.main_cl{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 30px 20px;
    border-radius: 10px;
}
