/* General utility classes */
/*.box-shadow-light {*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Легка тінь *!*/
/*}*/
.border-gold {
    border-bottom: 2px solid #ffc107; /* Золота лінія */
}
.text-white {
    color: #f8f9fa; /* Білий текст */
}
.text-gold {
    color: #ffc107; /* Золотий текст */
}
.text-light-gray {
    color: #adb5bd; /* Світло-сірий текст */
}
.bg-dark-gray {
    background-color: #212529; /* Темно-сірий фон */
}
.bg-dark {
    /*background-color: #343a40; !* Темний фон *!*/
    background-color: rgb(37, 37, 39) !important;
}
.border-dark {
    border: 1px solid #495057; /* Темна обводка */
}
.transition-color {
    transition: color 0.3s ease;
}
.transition-bg-color {
    transition: background-color 0.3s ease-in-out;
}
.font-bold {
    font-weight: bold; /* Жирний текст */
}

/* Navbar styles */
/*.navbar {*/
/*    composes: box-shadow-light border-gold;*/
/*}*/
.navbar-brand {
    font-size: 1.5rem; /* Збільшення логотипу */
    composes: font-bold;
}
.nav-link {
    composes: text-white transition-color;
}
.nav-link:hover {
    composes: text-gold;
}
.navbar-dark.bg-dark {
    composes: bg-dark-gray;
}
.navbar-dark .navbar-nav .nav-link {
    composes: text-light-gray;

}
.navbar-dark .navbar-nav .nav-link:hover {
    composes: text-gold;
}

/* Dropdown styles */
.dropdown-menu {
    composes: bg-dark border-dark;
}
.dropdown-header {
    composes: text-white font-bold;
}
.dropdown-item {
    composes: text-light-gray transition-bg-color;
}
.dropdown-item:hover {
    background-color: #495057; /* Фон при наведенні */
    color: #fff; /* Білий текст при наведенні */
}
.dropdown-item.btn.btn-warning.text-dark {
    background-color: #ffc107; /* Жовтий фон */
    color: #212529; /* Темний текст */
    border: none; /* Видалення обводки */
    composes: font-bold transition-bg-color;
}
.dropdown-item.btn.btn-warning.text-dark:hover {
    background-color: #e0a800; /* Темніший жовтий при наведенні */
    color: #ffffff; /* Білий текст при наведенні */
}

/* Button styles */
.btn-primary {
    background-color: transparent !important; /* Прозора кнопка */
    border: none !important; /* Без бордюру */
    color: #BFBFBF !important; /* Колір шрифту */
    transition: none !important; /* Без анімацій */
    font-weight: 600;
    line-height: 1.4;
    font-size: 14px;
    outline: none !important; /* Забрати рамку при фокусі */
    box-shadow: none !important; /* Вимкнути тінь */
}

.btn-primary:hover {
    background-color: transparent !important; /* Прозора при наведенні */
    color: #BFBFBF !important; /* Колір шрифту не змінюється */
}

.btn-primary:focus,
.btn-primary:active {
    background-color: transparent !important; /* Прозорий фон */
    color: #BFBFBF !important; /* Колір шрифту */
    outline: none !important; /* Забрати рамку при фокусі */
    box-shadow: none !important; /* Вимкнути тінь */
}

/*Header*/
header {
    background: rgb(37, 37, 39) !important;
    color: #ff7f50;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    margin: 0 234.5px;
    text-align: center; /* Центрування навігації */
}
.navbar-dark .navbar-nav .nav-link{
    color: #BFBFBF;
}
nav a {
    /*color: #ff4500;*/
    text-decoration: none;
    font-weight: 600;
    line-height: 1.4;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}
.navbar{
    padding: 2px 0;
}