.news-list {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 20px auto;
    background-color: #1c1c1c;
    border-radius: 5px;
}
a{
    text-decoration: none !important;
}
body {
    margin: 0;
    background-color: #0A0A0A !important;
    color: #BFBFBF;
    line-height: 1.4 !important;
    font-family: -apple-system, BlinkMacSystemFont, Open Sans, Roboto, Helvetica Neue, Helvetica, sans-serif !important;
}
.news-headeres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.news-item a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}

.news-date {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
    white-space: nowrap;
}

.news-category {
    font-size: 12px;
    color: #888;
}
.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 5px 40px 10px;*/
    padding: 40px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid rgba(80, 80, 80, .5);
    border-radius: 5px;
}
.custom-selects svg{
    height: 13px;
    width: 13px;
}
.custom-selects svg {
    flex-shrink: 0;
    margin-right: 8px; /* Відступ від тексту */
}
.select-selected {
    padding: 2px;
    background: transparent;
    font-size: 13px;
    flex-grow: 1; /* Текст займає весь доступний простір */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Обрізання тексту, якщо він занадто довгий */
}
.gn_news{
    margin: 0 40px 20px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.select-items {
    font-size: 13px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #1c1c1c;
    border: 1px solid rgba(80, 80, 80, .5);
    border-radius: 5px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
}

.select-items div:hover {
    background-color: #3A3A3C;
}

.select-hide {
    display: none;
}

.selected {
    background-color: #3A3A3C;
}
.news-header .btns {
    background-color: #3A3A3C;
    color: #BFBFBF;
    padding: 4px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none; /* Прибирає підкреслення */
    display: inline-block; /* Гарантує коректне вирівнювання */
    vertical-align: baseline; /* Вирівнює по текстовій базовій лінії */
}

.news-header .btns:hover {
    background-color: #505050;
    transform: scale(1.05);
}

.news-header .btns:active {
    background-color: #6A6A6C;
    transform: scale(0.95);
}
h1{
    font-size: 34px !important;
}
.hd {
    display: flex;
    align-items: center;
    gap: 10px; /* відстань між елементами */
}
.hd svg{
    height:34px;
    width: 34px;
    margin-bottom: .5rem;
}
.news-header .btns:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}
.dp_admin {
    display: flex; /* Використовуємо флексбокс для розташування елементів в один рядок */
    align-items: center; /* Вирівнюємо по центру вертикально */
    justify-content: space-between; /* Додає відступ між заголовком і кнопкою */
    gap: 5px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.pagination-items {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.pagination-items a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C2C2E;
    color: #BFBFBF; /* Колір тексту */
    text-decoration: none; /* Забороняємо підкреслення */
    transition: background-color 0.3s, color 0.3s; /* Додаємо плавний перехід кольору */
}

.pagination-items a.active {
    background: #ef6c00; /* Фон для активної сторінки */
    color: black; /* Колір тексту активної сторінки */
}

.pagination-items a:hover:not(.active) {
    background: #3A3A3C; /* Фон при наведенні */
    color: #BFBFBF; /* Колір тексту залишається тим самим */
}
.pagination-items a:focus {
    outline: none; /* Забороняємо стандартний фокус */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3); /* Додаємо кастомний ефект фокусу */
}
.pagination-items .arr_bt {
    background: transparent;
    text-decoration: none !important;
}

.pagination-items .arr_bt:hover {
    background: #3A3A3C;
    text-decoration: none !important;
}
.pagination a {
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent !important;
}
.pagination-items svg {
    stroke-width: 2 !important;
    fill: none !important;
    width: 24px !important;
    height: 24px !important;
    margin: 0;
}
.pagination .arr_bt {
    color: currentColor !important;
    text-decoration: none !important;
}

.pagination .arr_bt:hover {
    color: currentColor !important;
    text-decoration: none !important;
}

.pagination-items svg {
    stroke: currentColor !important;
}