body {
    margin: 0;
    /*font-family: 'Arial', sans-serif;*/
    background-color: #0A0A0A !important;
    color: #BFBFBF !important;
    line-height: 1.4 !important;
    font-family: -apple-system, BlinkMacSystemFont, Open Sans, Roboto, Helvetica Neue, Helvetica, sans-serif !important;
}

.card-title {
    text-decoration: none; /* Забороняє підкреслення тексту */
    color: inherit; /* Встановлює початковий колір */
    transition: color 0.3s ease; /* Анімація для плавного переходу кольору */
}

.card-title:hover {
    color: #f57c00; /* Зміна кольору при наведенні */
    text-decoration: none; /* Гарантує відсутність підкреслення */
}

.popular-chapters img{
    border-radius: 10px; /* Заокруглення зображення */
}
section h3{
    font-size: 19px;
    font-weight: 600;
}
/*section h3 span{*/
/*    font-size: 18px;*/
/*}*/
section h3 a:hover {
    text-decoration: none;
    color: #BFBFBF;
}
h5{
    font-size: 15px !important;
    color: #EBEBF580;
}
.container {
    max-width: 100%;
    margin: 16px auto; /* Відступи зверху та знизу, як у .my-5, та центрування */
    padding: 0 5px;
}
.my-4{
    width: 1170px;
    margin: 16px auto;
}

.main-content {
    padding: 20px 0;
}

.main-content section {
    /*background-color: #1e1e1e;*/
    background: #1c1c1c;
    border-radius: 10px;
    padding: 12px 16px;
    margin-bottom: 30px;
}

.main-content h3 {
    color: #BFBFBF;
    margin-bottom: 0 !important;
}

footer {
    background-color: #0A0A0A !important;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer a {
    color: #ff7f50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Стилі для карток */
.card {
    background-color: #1c1c1c !important;
    border: none !important;
    /*border-radius: 10px;*/
    overflow: hidden;
    color: #EBEBF580 ;
}
h3 a{
    color: #BFBFBF;
    text-decoration: none; /* Забирає підкреслювання при фокусі */
    box-shadow: none; /* Забирає синю рамку при фокусі */
}
.card .comic-cover {
    height: 189px;
    width: 135px;
    object-fit: cover;
    border-radius: 10px; /* Заокруглення зображення */
}

.card-body .comic-title:hover {
    color: #f29766 !important; /* Зміна кольору при наведенні */
    text-decoration: none; /* Гарантує відсутність підкреслення */
}
.card-body a{
    font-weight: 600;
}
.card-title {
    font-size: 14px;
    line-height: 1.2;
    color: #BFBFBF !important;
    max-height: 2.4em; /* Обмеження на 2 рядки */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 6px 0 0;
    margin-bottom: 0 !important;
}
.card-title a {
    color: #BFBFBF;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.progress {
    background-color: #343a40;
    border-radius: 50px;
}

.progress-bar {
    border-radius: 50px;
}

/* Стилі для "Глава ..." */
.chapter-label {
    position: absolute;
    bottom: 4px; /* Відступ віднизу */
    right: 4px; /* Відступ справа */
    background-color: rgba(0, 0, 0, 0.7); /* Напівпрозорий фон */
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
}
/* Стилі для списків та зображень */
.img-fluid {
    border-radius: 5px;
}
.images{
    border-radius: 5px;
    width: 72px !important;
    height: 72px !important;
    object-fit: cover; /* Забезпечує пропорційне заповнення фотографії */
}
.tg_sg{
    display: flex;
    gap: 16px;
    padding: 8px 0;
    font-size: 14px;
    color: #BFBFBF;

}
.tg_si{
    font-weight: 600;
}
.ts_f4{
    font-size: 12px!important;
    color: #EBEBF580;
}
.two-line-title {
    display: -webkit-box; /* Використовує веб-коробку для обмеження рядків */
    -webkit-line-clamp: 2; /* Максимум 2 рядки тексту */
    -webkit-box-orient: vertical; /* Встановлює вертикальну орієнтацію */
    overflow: hidden; /* Приховує текст, що виходить за межі */
    text-overflow: ellipsis; /* Додає три крапки до обрізаного тексту */
    white-space: normal; /* Дозволяє перенос тексту */
    font-weight: 600;
    font-size: 14px;
}

.mb-3 {
    margin-bottom: 20px;
}
h5{
    font-weight: 600 !important;
}
/* Стилі для кнопок */
.btn { /* Загальний стиль для кнопок */
    border: none;
    padding: 0 !important;
}

/* Стилі для заглушки */
.alert-secondary {
    background-color: #495057;
    color: #adb5bd;
    border: none;
    border-radius: 10px;
}

.sl_bt {
    background-color: #2c2f33;
    color: #fff;
    border: 1px solid #495057;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 12px !important;
    text-align: center; /* Горизонтальне вирівнювання тексту */
    text-align-last: center; /* Для останнього елемента в списку */
    line-height: 1.5; /* Вирівнювання тексту вертикально */
}

.sl_bt:focus {
    outline: none;
    border-color: #ffc107;
}

main .container-fluid{
    margin-bottom: 5px !important;
}
/* Секція "Продовжити читати" */
.continue-reading .reading-progress-item {
    width: 300px; /* Фіксована ширина для об'єкта */
    flex-direction: row; /* Відображення в рядок */
    /*background-color: #201c1c !important;*/
    background: rgb(37, 37, 39);
    padding: 8px 13px 8px 8px !important;
    margin-right: 10px !important;
    /*border: solid 1px #2c2c2c;*/
    color: #BFBFBF !important;
}
.continue-reading .overflow-auto{
    padding: 12px 0;
}
.continue-reading img {
    border-radius: 8px; /* Заокруглення зображення */
    /*margin-right: 12px; !* Більший відступ праворуч від фотографії *!*/
}

.continue-reading .text-container {
    width: 210px; /* Ширина контейнера */
    white-space: normal; /* Дозволити тексту переноситися */
    padding: 7px 0 0 ;
}

.continue-reading a.two-line-title {
    font-weight: 600;
    font-size: 14px; /* Зменшений розмір заголовку */
    line-height: 1.2;
    max-height: 2.4em; /* Обмеження до 2 рядків */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: auto; /* Підняти назву вище */
    text-decoration: none; /* Забороняє підкреслення тексту */
    color: inherit; /* Встановлює початковий колір */
    transition: color 0.3s ease; /* Анімація для плавного переходу кольору */
}
.continue-reading a.two-line-title:hover{

}
.continue-reading .progress {
    background-color: #2c2f33; /* Темний фон прогрес-бара */
    margin-top: 6px;
    height: 6px;
}

.continue-reading .progress-bar {
    background-color: #ffc107; /* Колір прогресу */
}
/*Дві секції останніх оновлень*/
.custom-btn {
    background: none;
    border: none;
    color: inherit;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px; /* Зменшений верхній і нижній відступ */
    cursor: pointer;
    transition: color 0.2s;
}

.custom-btn:hover {
    color: #cdcdd4;
    text-decoration: none; /* Забезпечує, що лінія не з'являється при наведенні */
}

.custom-btn:focus {
    outline: none;
    color: #cdcdd4;
}

.custom-btn:after {
    content: '';
    position: absolute;
    bottom: -2px; /* Підняти підкреслення ближче до кнопки */
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ffc107;
    border-radius: 2px;
    transition: width 0.3s ease, left 0.3s ease;
}

.custom-btn:hover:after,
.custom-btn:focus:after {
    width: 100%;
    left: 0;
}

.custom-btn.active {
    color: #cdcdd4;
}

.custom-btn.active:after {
    width: 100%;
    left: 0;
}
.chapter-container {
    border-top: solid 1px rgba(84, 84, 88, 0.65);
    border-bottom: solid 1px rgba(84, 84, 88, 0.65);
    padding: 10px 0; /* Для кращого вигляду */
}
#new-comics-section {
    margin-top: 0; /* Відміняє зайвий верхній відступ */
    padding-top: 0; /* Відміняє зайвий верхній падінг */
}
.z3_ox{
    font-size: 11px;
    margin-right: auto;
    color: rgba(235, 235, 245, .5);
}
.z3_c{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    flex-grow: 1;
    overflow: hidden;
}
.z3_c h6{
    margin: 0;
}