<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Club</title>
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <th:block th:replace="~{fragments/header :: head-styles}"></th:block>
</head>
<body>
<header>
    <!-- Include top navbar fragment -->
    <th:block th:replace="~{fragments/header :: top-navbar}"></th:block>

    <!-- Include search modal fragment -->
    <th:block th:replace="~{fragments/header :: search-modal}"></th:block>
</header>
<th:block th:replace="~{fragments/header :: bottom-navbar}"></th:block>
<!-- Include navbar actions fragment -->
<!--<th:block th:replace="~{fragments/header :: navbar-actions}"></th:block>-->

<!-- Main Content -->
<main class="container-fluid main-content">
<!--<main class="container main-content">-->
    <!-- Popular New Chapters Section -->
    <section class="popular-chapters my-4">
        <div class="d-flex overflow-auto">
            <div th:each="comic : ${popularComicsWithNewChapters}"
                 class="comic-card mx-2 text-left position-relative">
                <a th:href="@{/comics/{id}(id=${comic.id})}" class="position-relative d-block">
                    <img th:src="@{/comics/image/{id}(id=${comic.id})}"
                         th:alt="${comic.title}"
                         class="card-img-top comic-cover object-fit-cover"
                         style="width:135px; height:189px;"
                         loading="lazy">
                    <!-- Глава знизу справа в межах фото -->
                    <div class="chapter-label position-absolute">
                        <span th:text="'Глава ' + ${latestChapters[comic.id]}"></span>
                    </div>
                </a>
                <div class="card-body p-0">
                    <!-- Назва коміксу обмежена 2 рядками -->
                    <a th:href="@{/comics/{id}(id=${comic.id})}" class="card-title comic-title" th:text="${comic.title}"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Continue Reading Section -->
    <section class="continue-reading my-4">
        <h3>Продовжити читати</h3>
        <div class="d-flex overflow-auto gap-3">
            <div th:each="progress : ${recentlyReadProgress}"
                 class="reading-progress-item flex-shrink-0 mx-0 rounded">
                <!-- Обгортаємо весь елемент у посилання -->
                <a th:href="@{/chapters/{id}(id=${progress.chapter.id})}"
                   class="d-flex align-items-start text-decoration-none text-reset"
                   style="display: flex; gap: 10px; width: 100%; height: 100%; align-items: start;">
                    <img th:src="@{/comics/image/{id}(id=${progress.comics.id})}"
                         th:alt="${progress.comics.title}"
                         class="rounded object-fit-cover"
                         width="56"
                         height="78.38"
                         loading="lazy">
                    <div class="text-container d-flex flex-column justify-content-between"
                         style="width: 210px; height: 100%;">
                        <h6 class="two-line-title" th:text="${progress.comics.title}"></h6>
                        <div>
                            <div class="d-flex small text-muted" style="font-size: 12px">
                                <span th:text="'Глава ' + ${progress.chapter.chapterNumber} + ' — ' + 'Сторінка ' + ${progress.lastPage}"></span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning"
                                     role="progressbar"
                                     th:style="'width: ' + (${progress.lastPage} / ${@chapterService.getTotalPagesForChapter()} * 100) + '%;'">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Currently Reading Section -->
    <section class="my-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="card-titles">
                <a th:href="@{/comics/sections(section='current')}">Зараз читають →</a>
            </h3>
            <select class="sl_bt" id="daysSelect" onchange="changeDays(this.value)">
                <option value="1" th:selected="${selectedDays == 1}">За добу</option>
                <option value="7" th:selected="${selectedDays == 7}">За тиждень</option>
                <option value="31" th:selected="${selectedDays == 31}">За місяць</option>
                <option value="365" th:selected="${selectedDays == 365}">За рік</option>
            </select>
        </div>
        <div class="card">
            <div class="row">
                <!-- New Comics Section -->
                <div class="col-md-4">
                    <h5 class="mb-2">Новинки</h5>
                    <div id="newCreatedComics">
                        <div class="mb-3" th:each="comic : ${newCreatedComics}">
                            <div class="d-flex align-items-center">
                                <img th:src="@{/comics/image/{id}(id=${comic.id})}" alt="Comic Cover" class="images">
                                <div>
                                    <h6 class="mb-1" th:text="${comic.title}"></h6>
                                    <p class="mb-0 small" th:text="${comic.getComicsType().getDisplayName()}">Манга</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Trending Section -->
                <div class="col-md-4">
                    <h5 class="mb-2">Набирає популярності</h5>
                    <div id="currentlyPopularReading">
                        <div class="mb-3" th:each="comic : ${currentlyPopularReading}">
                            <div class="d-flex align-items-center">
                                <img th:src="@{/comics/image/{id}(id=${comic.id})}" alt="Comic Cover" class="images ">
                                <div>
                                    <h6 class="mb-1" th:text="${comic.title}"></h6>
                                    <p class="mb-0 small" th:text="${comic.getComicsType().getDisplayName()}">Манга</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Popular Section -->
                <div class="col-md-4">
                    <h5 class="mb-2">Популярне</h5>
                    <div id="popularComics">
                        <div class="mb-3" th:each="comic : ${popularComics}">
                            <div class="d-flex align-items-center">
                                <img th:src="@{/comics/image/{id}(id=${comic.id})}" alt="Comic Cover" class="images ">
                                <div>
                                    <h6 class="mb-1" th:text="${comic.title}"></h6>
                                    <p class="mb-0 small" th:text="${comic.getComicsType().getDisplayName()}">Манга</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Placeholder for Future Content -->
    <section class="my-4">
        <div class="d-flex justify-content-between align-items-center"> <!-- Додано align-items-center -->
            <h3>Останні оновлення</h3>
            <div>
                <button id="allUpdatesButton" class="custom-btn mx-2">Всі оновлення</button>
                <button id="myUpdatesButton" class="custom-btn mx-2">Мої оновлення</button>
            </div>
        </div>

        <!-- Секція "Нові комікси" -->
        <div class="my-0" id="new-comics-section">
            <div id="new-comics-container">
                <div th:if="${not #lists.isEmpty(newComics)}">
                    <div th:each="chapter : ${newComics}" class="d-flex align-items-center chapter-container">
                        <div class="image-container" style="position: relative; width: 80px; height: 112px;">
                            <img loading="lazy" th:src="@{/comics/image/{id}(id=${chapter.comics.id})}"
                                 alt="Comic Thumbnail"
                                 style="width: 100%; height: 100%; object-fit: cover;">
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%);"></div>
                            <span class="image-label" style="position: absolute; top: 4px; left: 50%; transform: translateX(-50%); color: white; font-size: 12px; padding: 2px 6px;" th:text="${chapter.comics.getComicsType().getDisplayName()}">Манга</span>
                        </div>
                        <div class="z3_c">
                            <h6 th:text="${chapter.comics.title}">Назва коміксу</h6>
                            <small th:text="'Глава ' + ${chapter.chapterNumber}"></small>
                            <p class="release-date z3_ox" th:data-release-date="${chapter.releaseDate}"></p>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(newComics)}">
                    <p>Наразі немає нових коміксів</p>
                </div>
            </div>
            <div id="loading" class="text-center my-3" style="display: none;">
                <span>Завантаження...</span>
            </div>
        </div>

        <!-- Секція "Закладки з новими главами" -->
        <div class="my-0 d-none" id="bookmarked-comics-section">
            <div id="bookmarked-comics-container">
                <div th:if="${not #lists.isEmpty(bookmarkedComics)}">
                    <div th:each="chapter : ${bookmarkedComics}" class="d-flex align-items-center chapter-container">
                        <div class="image-container" style="position: relative; width: 80px; height: 112px;">
                            <img loading="lazy" th:src="@{/comics/image/{id}(id=${chapter.comics.id})}"
                                 alt="Comic Thumbnail"
                                 style="width: 100%; height: 100%; object-fit: cover;">
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%);"></div>
                            <span class="image-label" style="position: absolute; top: 4px; left: 50%; transform: translateX(-50%); color: white; font-size: 12px; padding: 2px 6px;" th:text="${chapter.comics.getComicsType().getDisplayName()}">Манга</span>
                        </div>
                        <div class="z3_c">
                            <h6 th:text="${chapter.comics.title}">Назва коміксу</h6>
                            <small th:text="'Глава ' + ${chapter.chapterNumber}"></small>
                            <p class="release-date z3_ox" th:data-release-date="${chapter.releaseDate}"></p>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(bookmarkedComics)}">
                    <p>Немає нових глав у закладках</p>
                </div>
            </div>
        </div>

    </section>
</main>
<!-- Footer Section -->
<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p>&copy; 2024 Мангаклуб. Усі права захищено.</p>
    </div>
</footer>
<!-- JavaScript Dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script src="/js/main-script.js"></script>
</html>
