<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${comic.title} + ' - Деталі коміксу'">Комікс</title>
</head>
<body>

<h1 th:text="${comic.title}">Назва коміксу</h1>
<p><strong>Автор:</strong> <span th:text="${comic.author}">Автор</span></p>
<p><strong>Жанр:</strong></p>
<div th:each="genre : ${genres}">
    <a th:href="@{/genre/{id}(id=${genre.id})}" class="list-group-item list-group-item-action">
        <div>
            <h5 th:text="${genre.name}"></h5>
        </div>
    </a>
</div>
<p><strong>Опис:</strong></p>
<p th:text="${comic.description}">Опис коміксу</p>

<div>
    <h3>Обкладинка:</h3>
    <img th:src="@{/comics/image/{id}(id=${comic.id})}" alt="Обкладинка коміксу" />
</div>

<!-- Вибір закладки для додавання комікса -->
<div>
    <h3>Додати в закладку:</h3>

    <button type="button" onclick="toggleBookmarks()">Вибрати закладку</button>

    <div id="bookmarkList" style="display:none;">
        <form th:action="@{/comics/addComicToTab}" method="post">
            <input type="hidden" name="comicId" th:value="${comic.id}"/>
            <select name="tabId">
                <option th:each="tab : ${tabs}" th:value="${tab.id}" th:text="${tab.name}">Закладка</option>
            </select>
            <button type="submit">Додати до закладки</button>
        </form>
    </div>
</div>

<script>
    function toggleBookmarks() {
        const bookmarkList = document.getElementById('bookmarkList');
        if (bookmarkList.style.display === 'none') {
            bookmarkList.style.display = 'block';
        } else {
            bookmarkList.style.display = 'none';
        }
    }
</script>

</body>
</html>
